@using Entities;
@model Invoice

<form asp-controller="Invoice" asp-action="AddInvoice" method="post">
    <input asp-for="InvoiceID" readonly type="hidden" />
    <input type="hidden" asp-for="PartyID" />

    <div class="form-group">
        <label asp-for="InvoiceDate" class="control-label"></label>
        <input type="date" asp-for="InvoiceDate" class="form-control" />
        <span asp-validation-for="InvoiceDate" class="text-danger"></span>
    </div>

    <h4>Products</h4>
    <table class="table table-bordered" id="productTable">
        <thead>
            <tr>
                <th>Product Name</th>
                <th>Price Of 1 Unit</th>
                <th>Quantity</th>
                <th>Selected</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.InvoiceWiseProducts != null && Model.InvoiceWiseProducts.Count > 0)
            {
                for (int i = 0; i < Model.InvoiceWiseProducts.Count; i++)
                {
                    InvoiceWiseProduct invoiceWiseProduct = Model.InvoiceWiseProducts[i];
                    <tr class="product-item">
                        <td>@invoiceWiseProduct.Product.ProductName</td>
                        <td>@invoiceWiseProduct.Product.ProductPrice</td>
                        <td>
                            <input type="hidden" name="InvoiceWiseProducts[@i].ProductID" value="@invoiceWiseProduct.ProductID" />
                            <input type="number" name="InvoiceWiseProducts[@i].Quantity" value="@invoiceWiseProduct.Quantity" />
                        </td>
                        <td>
                            <input type="checkbox" name="InvoiceWiseProducts[@i].IsSelected" value="true" @(invoiceWiseProduct.IsSelected ? "checked" : "") />
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr><td colspan="4">No products available.</td></tr>
            }
        </tbody>
    </table>

    <input type="checkbox" asp-for="IsPaid" /> Is Paid
    <br />

    <button type="submit" class="btn btn-primary">Submit</button>
</form>
