@using Entities
@model List<Invoice>
<h1>List of all invoices</h1>
<table class="table table-bordered">
    <thead>
        <tr>
            <td>Party ID</td>
            <td>Invoice ID</td>
            <td>Total Price</td>
            <td>Is Paid</td>
            <td>Created</td>
            <td>Modified</td>
            <td>Actions</td>
        </tr>
    </thead>
    <tbody>
        @foreach (Invoice invoiceModel in Model)
        {
            <tr>
                <td>@invoiceModel.PartyID</td>
                <td>@invoiceModel.InvoiceID</td>
                <td>@invoiceModel.TotalPrice</td>
                <td>@invoiceModel.IsPaid</td>
                <td>@invoiceModel.Created?.ToString("yyyy-mm-dd")</td>
                <td>@invoiceModel.Modified?.ToString("yyyy-mm-dd")</td>
                <td>
                    <a asp-controller="Invoice" asp-action="EditInvoice" asp-route-invoiceID="@invoiceModel.InvoiceID" class="btn btn-outline-success">Edit</a>
                    <a asp-controller="Invoice" asp-action="Details" asp-route-invoiceID="@invoiceModel.InvoiceID" class="btn btn-outline-primary">Details</a>
                    <a asp-controller="Invoice" asp-action="InvoicePDF" asp-route-invoiceID="@invoiceModel.InvoiceID" class="btn btn-outline-dark">Generate PDF</a>
                </td>
            </tr>
        }
    </tbody>
</table>